*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #398D91;
    list-style: none;
    gap: 20px;
    padding: 10px 20px;
    color: white;x   
    
}

.navbar-links{
    display: flex;
    list-style: none;
    gap: 15px;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
}


section{
    padding: 80px 20px;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 500px;
    background-color: lightslategray;
    color: white;
    
}

